In [2]:
import pandas as pd
df = pd.read_csv("jan2023_price.csv")
df.head()

,INTERVALSTARTTIME_GMT,INTERVALENDTIME_GMT,OPR_DT,OPR_HR,OPR_INTERVAL,NODE_ID_XML,NODE_ID,NODE,MARKET_RUN_ID,LMP_TYPE,XML_DATA_ITEM,PNODE_RESMRID,GRP_TYPE,POS,MW,GROUP
0,2023-01-01T08:00:00-00:00,2023-01-01T09:00:00-00:00,2023-01-01,1,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,MCL,LMP_LOSS_PRC,0096WD_7_N001,ALL,1,-1.35162,1
1,2023-01-02T05:00:00-00:00,2023-01-02T06:00:00-00:00,2023-01-01,22,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,MCL,LMP_LOSS_PRC,0096WD_7_N001,ALL,1,0.00000,1
2,2023-01-01T10:00:00-00:00,2023-01-01T11:00:00-00:00,2023-01-01,3,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,MCL,LMP_LOSS_PRC,0096WD_7_N001,ALL,1,-1.66225,1
3,2023-01-02T04:00:00-00:00,2023-01-02T05:00:00-00:00,2023-01-01,21,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,MCL,LMP_LOSS_PRC,0096WD_7_N001,ALL,1,0.00000,1
4,2023-01-01T23:00:00-00:00,2023-01-02T00:00:00-00:00,2023-01-01,16,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,MCL,LMP_LOSS_PRC,0096WD_7_N001,ALL,1,-2.56509,1